[core]
	# Fix issue where 'vi $FILE' exits with a non-zero status on Mac
	# and causes the commit to be discarded,
	# see http://tooky.co.uk/there-was-a-problem-with-the-editor-vi-git-on-mac-os-x/
	editor = vim
	# Global gitignore. See https://help.github.com/articles/ignoring-files/
	excludesfile = ~/.gitignore_global

[user]
	name = Robert Knight
	email = robertknight@gmail.com
	signingkey = 0F65A27D

[alias]
	br = branch --color
	cam = commit --amend
	ci = commit
	ca = commit -a
	co = checkout
	d = diff
	dc = diff --cached
	pm = push mine
	po = push origin
	rc = rebase --continue
	ri = rebase --interactive
	rst = reset
	rstu = reset --hard @{upstream}
	st = status
	su = submodule update
	ui = update-index
	wc = whatchanged

	last-commit-message = log --format=%B -n 1
	lcm = last-commit-message

[color]
	status = true
[gpg]
	program = gpg
[merge]
	conflictstyle = diff3
[pull]
	ff = only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
